@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik-regular.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Graphik';
    src: url('../fonts/graphik-bold.otf') format('opentype');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: red solid 1px; */
}

:root {
    --header-background-height: 927px;
    --light-text-color: white;
    --dark-text-color: #252B42;
    --title-font-size: 3rem;
    --title-font-weight: normal;
    --paragraph-font-size: 1.75rem;
    --paragraph-font-weight: 300;
    --button-color: #2091F9;
    --button-padding: 10px 50px;
    --button-radius: 35px;
    --button-font-size: 1.25rem;
    --button-font-weight: 200;
    font-family: 'Graphik', sans-serif;
    text-align: center;
}

img,
video {
    display: block;
    width: 100%;
}


h2 {
    font-size: var(--title-font-size);
    font-weight: var(--title-font-weight);
}

p,
a {
    font-size: var(--paragraph-font-size);
    font-weight: var(--paragraph-font-weight);
    text-decoration: none;
}

.button {
    background-color: var(--button-color);
    color: var(--light-text-color);
    padding: var(--button-padding);
    border-radius: var(--button-radius);
    font-size: var(--button-font-size);
    font-weight: var(--button-font-weight);
    text-decoration: none;
    border-color: transparent;
}

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    gap: 50px;
}