.header {
    background-image: url(../img/header-background.png);
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: auto;
    min-height: var(--header-background-height);
}

.header__nav {
    display: none;
}

.header__main-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
}

.header__figma-logo {
    width: 10rem;
}

.header__nav-button {
    width: 3rem;
}